
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">主要功能</li>
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">敬请期待</a></li>
            <li><a href="#">敬请期待</a></li>
            <li><a href="#">敬请期待</a></li>
            <li class="nav-header">次要功能</li>
            <li><a href="#">敬请期待</a></li>
            <li><a href="#">敬请期待</a></li>
        </ul>
    </div>
    <!--/.well -->
